:root {
  --bg: #1e1e2f;
  --text: #ffffff;
  --card: #2a3144;
  --nav: #283044;
  --accent: #3d8bfd;
  --error: #f85149;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
}

.navbar {
  background: var(--nav);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  border-radius: 0.25rem;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

h2 {
  /* border-bottom: 1px solid #444; */
  padding-bottom: 0.5rem;
}

.card {
  background: var(--card);
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  cursor: grab;
}

.left {
  display: flex;
  gap: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.totals {
  margin: 1rem 0;
  font-weight: bold;
}

button {
  /* background: var(--accent); */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.primary {
  background-color: var(--accent)
}

.error {
  background-color: var(--error);
}

#edit-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

#edit-modal > div {
  background: var(--card);
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
}

input,
select {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

section {
  margin-bottom: 2.5rem;
}

section:not(:first-child) {
  border-top: 1px solid #444;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* background: #323a4f; */
  background: rgba(40,48,68,0.9);
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 800px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 8px;
}

.tab-btn {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--text);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.tab-btn.active {
  background: var(--accent);
}

.tab-view.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .tabs {
    border-radius: 0;
    max-width: 100%;
  }
}

